.app {
  background: #CCCCB2;
  background: -webkit-linear-gradient(to right, #757519, #CCCCB2);
  background: linear-gradient(to right, #757519, #CCCCB2);
}

.navbar {
  height: 8vh;
}

.footer {
  height: 5vh;
  text-align: center;
}

.footer hr {
  width: 90%;
  border: 1px solid black;
}

.homepage {
  text-align: center;
}

.homepage hr {
  width: 50%;
  border: 1px solid black;
}

.hero {
  font-family: Arial;
  /* font-weight: bold; */
}

.avatar {
  height: 250px;
  padding-top: 5em;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 50%;
}

.project-cards {
  margin-top: 3rem;
  padding-bottom: 3rem;
}