/* bigger parts of app */

.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: #CCCCB2;
  background: -webkit-linear-gradient(to right, #757519, #CCCCB2);
  background: linear-gradient(to right, #757519, #CCCCB2);
}

.header {
  height: 8vh;
}

.body {
  height: 85vh;
}

.footer {
  height: 7vh;
  text-align: center;
}

.footer hr {
  width: 90%;
  border: 1px solid black;
}

.homepage {
  text-align: center;
}

.homepage hr {
  width: 50%;
  border: 1px solid black;
}

.contact-page { 
  /* font-family: Anton; */
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding-top: 3rem;
  width: 85%;
}


/* smaller parts of app */

.avatar {
  height: 250px;
  padding-top: 5em;
}

.hero {
  font-family: Arial;
  margin-left: 15%;
  margin-right: 15%;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 50%;
}

.project-cards {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.contact-grid {
  justify-content: center;
  text-align: center;
}

.contact-info {
   font-size: 66px;
   margin-left: 5rem;
   padding-top: 2.5rem;
}